@import "../utils/variables";

.section-heading {
  h2 {
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    line-height: 1;
    margin-bottom: 25px;
    text-transform: uppercase;
    @media (max-width: 1500px){
      font-size: 45px;
    }
    @media (max-width: $screenMd) {
      font-size: 30px;
    }
    span {
      width: 18px;
      display: inline-block;
      height: 18px;
      background: #ff4157;
      border-radius: 50%;
      @media (max-width: $screenMd) {
        width: 10px;
        height: 10px;
      }
    }
  }
  p {
    font-size: 18px;
    color: whitesmoke;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 20px;
  }
}
